<!-- <div id="positions" class="row">
    <div class="col-xs-offset-3 col-xs-6 text-center">
        <h3>Position</h3>
        <ul class="positions">
            <li><img src="assets/images/left-top.png" alt="" (click)="setPosition('left-top')" [ngClass]="{'active': corner === 'left-top'}"></li>
            <li><img src="assets/images/right-top.png" alt="" (click)="setPosition('right-top')" [ngClass]="{'active': corner === 'right-top'}"></li>
            <li><img src="assets/images/right-bottom.png" alt="" (click)="setPosition('right-bottom')" [ngClass]="{'active': corner === 'right-bottom'}"></li>
            <li><img src="assets/images/left-bottom.png" alt="" (click)="setPosition('left-bottom')" [ngClass]="{'active': corner === 'left-bottom'}"></li>
        </ul>
    </div>
</div>

<div id="actions" class="row">
    <div class="col-xs-offset-3 col-xs-6 text-center">
        <button type="button" class="btn btn-default default" (click)="notifyDefault()">Send default notification</button>
        <button type="button" class="btn btn-default success" (click)="notifySuccess()">Send success notification</button>
        <button type="button" class="btn btn-default warning" (click)="notifyWarning()">Send warning notification</button>
        <button type="button" class="btn btn-default error" (click)="notifyError()">Send error notification</button>
    </div>
</div>


<ng2-notify></ng2-notify> -->